  /* src/index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  h1, h2 {
    color: #333;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .container {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.Custinvoice {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  /* src/styles/ViewInvoice.module.css */

.Viewinvoice {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .details {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .details p{
    margin: 5px 0;
    font-size: 14px;
  }
  .total {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }
  

.Invoiceform {
    display: flex;
    flex-direction: column;
  }
  
  input, select, button {
    margin: 10px 0;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

.form {
    display: flex;
    flex-direction: column;
  }
  
  input, select, button {
    margin: 10px 0;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

.Itemlist {
    margin: 20px 0;
  }
  
  button {
    background-color: #dc3545;
  }
  
  button:hover {
    background-color: #c82333;
  }

.pdf {
    margin-top: 20px;
  }
  
  